body {
    text-align: center;
    background: hsl(0, 0%, 100%);
    font-family: 'Josefin Slab', serif;
}

.navbar, .panel-default>.panel-heading {
    color: hsl(0, 0%, 100%);
    background: hsl(202, 57%, 38%);
    border-radius: 0;
}

h1 {
    margin-top: 2em;
    text-align: center;
}

.modal-btn {
    margin-right: 21.25%;

}

h1, footer,.panel-heading {
    font-family: 'Raleway', sans-serif;
}

.well {
    background: hsl(0, 0%, 100%);
}

.btn-success {
    background: hsl(109, 45%, 62%);
    border-color: hsl(109, 45%, 62%);
}


.btn, .panel, .well, .modal-content {
    border-radius: 0;
}

.modal-content p {
    margin: 1em auto 0;
}


.panel {
    margin-bottom: 2em;
}

.homePost, .detailsPost {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    font-family: 'Raleway', sans-serif;
}

.summary {
    width: 40%;
}

.divLink, .divLink:hover {
    text-decoration: none;
    color: black;
}

.mainContent {
    width: 90%;
}

.pencil, .home, .wrench {
    margin-left: .75em;
}